/* Setting the ground */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/RPS-background.jpg);
    background-color: rgb(255, 185, 92);
}

.allFather {
    color: aliceblue;
    border: 2px solid black;
    border-radius: 15px;
    margin: 2%;
    background-color: rgba(61, 61, 254, 0.4);
}

.header {
    text-align: center;
    margin-top: 2%;
}

.choises {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

#playerCard {
    border: 2px solid black;
    border-radius: 10px;
    padding: 100px;
}

#computerCard {
    border: 2px solid black;
    border-radius: 10px;
    padding: 100px;
}

.cards {
    margin: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

#card-rock {
    opacity: 0.5;
    border: 3px solid black;
    border-radius: 10px;
    padding: 80px;
    background: center url(images/rock.jpeg);
    background-size: contain;
}

#card-rock:hover {
    opacity: 1;
}

#card-paper {
    opacity: 0.5;
    border: 3px solid black;
    border-radius: 10px;
    padding: 80px;
    background: center url(images/paper.png);
    background-size: contain;
}

#card-paper:hover {
    opacity: 1;
}

#card-scissors {
    opacity: 0.5;
    border: 3px solid black;
    border-radius: 10px;
    padding: 80px;
    background: center url(images/scissors.jpg);
    background-size: contain;
}

#card-scissors:hover {
    opacity: 1;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.text {
    text-align: center;
}

#you {
    text-align: center;
}

#computer {
    text-align: center;
}

.play-again {
    text-align: center;
    margin: 0% 20% 5% 20%;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    visibility: hidden;
    cursor: pointer;
}